<div class="container">
  <img [src]="photo$ | async" class="photo" />
  <div class="field"><span class="label">name: </span>{{ name$ | async }}</div>
  <div class="field">
    <span class="label">email: </span>{{ email$ | async }}
  </div>
</div>
