.container {
  margin: 40px auto;
  width: 500px;
  text-align: center;
}

.field {
  font-size: 22px;
  text-align: center;
}

.label {
  font-weight: bold;
}

.photo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
